USE [master]
GO
/****** Object:  Database [HappyFarm]    Script Date: 8/8/2019 5:34:52 PM ******/
CREATE DATABASE [HappyFarm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HappyFarm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HappyFarm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HappyFarm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HappyFarm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HappyFarm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HappyFarm]
GO
USE [HappyFarm]
GO
/****** Object:  Table [dbo].[Farm]    Script Date: 8/8/2019 5:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farm](
	[PlayerID] [int] NOT NULL,
	[PlantID] [int] NOT NULL,
	[x] [int] NOT NULL,
	[y] [int] NOT NULL,
	[DateStarted] [date] NOT NULL,
	[SeasonLeft] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Harvest]    Script Date: 8/8/2019 5:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Harvest](
	[PlayerID] [int] NOT NULL,
	[PlantID] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plant]    Script Date: 8/8/2019 5:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plant](
	[ID] [int] NOT NULL,
	[PlantName] [nvarchar](50) NOT NULL,
	[PlantPrice] [int] NOT NULL,
	[FruitPrice] [int] NOT NULL,
	[Season] [int] NOT NULL,
	[Time] [int] NOT NULL,
 CONSTRAINT [PK_Plant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 8/8/2019 5:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[ID] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[gold] [int] NOT NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 8/8/2019 5:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[ID] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 8/8/2019 5:34:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[SaleID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PlantID] [int] NOT NULL,
	[UnitPrice] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Farm]  WITH CHECK ADD  CONSTRAINT [FK_Farm_Plant] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plant] ([ID])
GO
ALTER TABLE [dbo].[Farm] CHECK CONSTRAINT [FK_Farm_Plant]
GO
ALTER TABLE [dbo].[Farm]  WITH CHECK ADD  CONSTRAINT [FK_Farm_Player] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([ID])
GO
ALTER TABLE [dbo].[Farm] CHECK CONSTRAINT [FK_Farm_Player]
GO
ALTER TABLE [dbo].[Harvest]  WITH CHECK ADD  CONSTRAINT [FK_Harvest_Plant] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plant] ([ID])
GO
ALTER TABLE [dbo].[Harvest] CHECK CONSTRAINT [FK_Harvest_Plant]
GO
ALTER TABLE [dbo].[Harvest]  WITH CHECK ADD  CONSTRAINT [FK_Harvest_Player] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([ID])
GO
ALTER TABLE [dbo].[Harvest] CHECK CONSTRAINT [FK_Harvest_Player]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Player] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Player] ([ID])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Player]
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetail_Plant] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plant] ([ID])
GO
ALTER TABLE [dbo].[SaleDetail] CHECK CONSTRAINT [FK_SaleDetail_Plant]
GO
ALTER TABLE [dbo].[SaleDetail]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetail_Sale] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sale] ([ID])
GO
ALTER TABLE [dbo].[SaleDetail] CHECK CONSTRAINT [FK_SaleDetail_Sale]
GO
USE [master]
GO
